
ТРЕБОВАНИЯ К БЕЗОПАСНОСТИ ПОДСИСТЕМЫ УМНЫЙ ДОМ

1. Соединение от домофонов к сервисам и от шлагбаумов к сервисам выполняются по https.
2. Соединение по https выполняются по ключу rsa. Закрытый ключ rsa хранится на устройствах. Устройства пломбируются. Нарушение пломбы компрометирует ключ, требуется выпуск нового, новая пломбировка.
3. В системе управления данными собственников (CRM) добавить функционал загрузки биометрии в виде изображения лица. Соответствующие данные в crm-tenant-db и их резервные копии шифровать.
4. В системе управления данными собственников (CRM) добавить функционал хранения гос номеров автомашин.
5. Модели по распознаванию изображений в обученном виде хранятся в domofon-db и barrier-db.
6. Устройства после авторизации получают только права на выполнение запросов к ендпойнту с методом POST. Отправляются байты изображения. Сервис в заголовке ответа отдает TRUE - открыть шлагбаум/дверь, FALSE - не открывать шлагбаум/дверь.
7. PropDev должны получить дополнительные полномочия на хранения данных биометрии в соовтетствии с законодательством.
